/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 7, 2025, 2:01:59 PM
    Author     : kozola25
*/
h1 {
    font-size: 180%;
    font-family: monospace;
    font-weight: bold;
}

h2 {
    font-family: monospace;
    font-size: 110%;
    font-weight: bold;
}

img {
    border: 1px solid #000000;
}

b {
    color:#db1b3aff;
}

body {
    font-family: "Lato", times new roman
}

.mySlides {
    display: none;
}